body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cols {
    outline: 1px solid lightgray;
    margin: 12px 0;
    display: flex;
}

.col {
    width: 50%;
    min-height: 100px;
    white-space: pre-wrap;
}

.col textarea {
    width: 100%;
    height: 200px;
    border: 0;
    resize: none;
    box-sizing: border-box;
}

.diff-red {
    background: #ffbfbf;
}

.diff-green {
    background: #c4ffd5;
}